<h2>Edit Recipe</h2>

<% if @recipe && @recipe.errors.any? %>
<ul>
  <% @recipe.errors.full_messages.each do |error|%>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<% if @category && @category.errors.any? %>
<ul>
  <% @category.errors.full_messages.each do |error|%>
    <li>Category <%= error.downcase %></li>
  <% end %>
</ul>
<% end %>


<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <label for="name">Recipe Name:</label>
  <input type="text" name="recipe[name]" value="<%= @recipe.name %>" required><br>
  
  <br><br>

  <label for="serving_size">Serving Size:</label>
  <input type="text" name="serving_size" value="<%= @recipe.serving_size %>" required>
  
  <br><br>

  <label for="cook_time">Cook Time:</label>  
  <input type="text" name="cook_time" value="<%= @recipe.cook_time %>" required>
  
  <br><br>

  <table>
    <thead>
      <tr>
        <th>Ingredient</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
        <tr>
          <td>
            <input type="text" name="recipe_ingredients[][ingredient][name]" value="<%=recipe_ingredient.ingredient.name %>">
          </td>
          <td>
          <input type="text" name="recipe_ingredients[][quantity]" value="<%= recipe_ingredient.quantity %>">
          </td>
        </tr>
      <% end %>
      <% 10.times do %>
      <tr>
        <td>
          <input type="text" name="recipe_ingredients[][ingredient][name]" >
        </td>
        <td>
          <input type="text" name="recipe_ingredients[][quantity]" >
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <br><br>

  <label for="instructions">Instructions: <strong>Separate each instruction by a period ( . )</strong></label>
  <br>
  <textarea name="instructions" cols="30" rows="10" value="<%= @recipe.instructions %>" required><%= @recipe.instructions %></textarea>
  
  <br><br>

  <label for="category">Choose a Category:</label><br>
  <% Category.all.sort {|a, b| a.name <=> b.name}.each do |category| %>
    <input type="checkbox" name="recipe[category_ids][]" id="<%= category.id %>" value="<%= category.id %>" <%='checked' if @recipe.categories.include?(category) %>><%= category.name %></input><br>
  <% end %>
  
  <br>

<p>Or Create a Category:</p>
  <label for="new_category">Category Name:</label>
  <input type="text" name="category[name]">

  <br><br>

  <input class="button" type="submit" value="Update Recipe">

</form>
<br>


<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button" type="submit" value="Delete this Recipe">
</form><br>

<a href='/recipes'>See all Recipes</a>