<h2>Update Your Account</h2>

<form action="/users/<%=@user.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label for="name">Name:</label>
  <input type="text" name="name" value="<%= @user.name %>">
  <label for="email">Email:</label>
  <input type="text" name="email" value="<%= @user.email %>">
  <label for="username">Username:</label>
  <input type="text" name="username" value="<%= @user.username %>">
  <label for="password">Password:</label>
  <input type="password" name="password" value="<%= @user.password %>">

  <input type="submit" value="Update">
</form>

<a href="/recipes">Go Back</a>